@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,300&display=swap');

body{
    font-family: 'Nunito', sans-serif;
}


/* nav */

.nav-1{
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: 0.7s;
}

.nav-1:hover{
    letter-spacing: 1.2px;
    font-size: 16px;
    transition: 0.6s;
}

.nav-2{
    padding: 20px;
    text-align: center;
}

.nav-2 > h2{
    font-size: 24px;
    font-weight: bold;
}

.back-img{
    background-image: url('../images/MaskGroup.png');
}

.nav-3{
    /* background-image: url('../images/MaskGroup.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;
}

.nav-3::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.473);
}


.nav-3-content{
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
}

.nav-3-content > h1{
    font-size: 30px;
    color: white;
    margin-bottom: 2%;
}

.nav-3-content > p{
    color: white;
    font-size: 18px;
    margin-top: 2%;
}

/* section-1 */

.section-1{
    box-sizing: border-box;
    height: 300px;
    position: relative;
}

.section-1-content{
    position: absolute;
    margin: 10% 25%;
    width: 50%;
}

.section-1-content > h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.section-1-content > p{
    margin-top: 2.5%;
    font-size: 19px;
    text-align: center;
}

/* section-2 (images) */

.all-img{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    padding: 1em;
    height: 32em;
    margin-left: 4.5%;
}

.color{
    background-color: rgba(211, 211, 211, 0.685);
    border: 1px solid rgba(74, 75, 72, 0.747);
    border-radius: 40px;
    transition: 0.8s;
    cursor: pointer;
}

.all-img > img{
    margin-left: 35px;
}

/* footer */

footer{
    padding: 15px;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 40px;
}


/* media queries */

@media (max-width: 1000px){
    footer{
        position: relative;
        margin-top: 150px;
    }

    .all-img{
        margin-top: -70px;
    }
}

@media (max-width: 679px){
    footer{
        position: relative;
        margin-top: 750px;
    }

    .all-img{
        margin-top: -80px;  
    }

    .section-1{
        margin-left: 20px;
        text-align: justify;
        letter-spacing: 1.2px;
    }

    .section-1-content > p{
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }
}

@media (max-width: 600px){
    .nav-3-content{
        margin-left: 25px;
    }

    .all-img > img{
       margin: 20px;
    }

    footer{
        position: relative;
        margin-top: 1050px;
    }
}
